.home-container-1{
    min-height:100vh ;
    max-width:100%;
    width:100%;
    display: flex;
     /* justify-content:space-between;
    margin:0% auto;
     */

}
.home-container-2{
    max-width: 100%;
    width:90%;
    padding: 24px;
    border:1px solid #d6d4d9;
    box-sizing: border-box;
    justify-content: left;
    

}